/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* placeholders for changeable elements
=====================================*/
/* placeholders for repeated elements
=====================================*/
.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

/*========Variables==================
===================================*/
.bgColorLightBLue {
  background-color: rgba(0, 202, 254, 0.7);
}

.fontSize10 {
  font-size: 100px;
}

.fontSize5 {
  font-size: 50px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize48 {
  font-size: 48px;
}

.colorWhiteLight {
  color: rgba(255, 255, 255, 0.302);
}

.colorWhiteMiddle {
  color: rgba(255, 255, 255, 0.2);
}

.colorWhiteDark {
  color: rgba(255, 255, 255, 0.149);
}

.fontFamilyLato {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.transform1 {
  -moz-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  -webkit-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  -ms-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
}

.transform2 {
  -moz-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  -webkit-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  -ms-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
}

.transform3 {
  -moz-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  -webkit-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  -ms-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  max-width: 100%;
  margin: 0 auto;
}

a.active, a:focus, a:active {
  color: orange;
}

nav {
  padding-top: 20px;
}

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

/*Dark theme of weather==========
=================================*/
@media (max-width: 768px) {
  .container, .container-fluid {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
    min-width: 100%;
  }
}
body {
  position: relative;
}

.bgImage {
  background-image: url(/images/day-sunny.jpg);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.darkWeatherHourly {
  position: relative;
  z-index: 5;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  margin-bottom: 40px;
}
.darkWeatherHourly .result {
  color: #252733;
  background-color: orange;
  border: 2px solid #009ad8;
  padding: 15px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.darkWeatherHourly .header {
  color: #323544;
}
.darkWeatherHourly .form {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0;
}
.darkWeatherHourly .form .search {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 60px;
  line-height: 1.5;
  font-size: 20px;
  padding: 15px 120px 15px 30px;
  background-color: #1e202b;
  color: #fff;
  width: 100%;
  border: none;
}
.darkWeatherHourly .form .buttonPrimary {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  line-height: 1.5;
  background-color: #009ad8;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 50px;
  padding: 10px 40px;
}
.darkWeatherHourly .weatherWrapper {
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #323544;
  min-height: 300px;
  color: #bfc1c8;
}
.darkWeatherHourly .weatherWrapper .current .currentHeader {
  background-color: #2c2f3d;
  color: #bfc1c8;
  padding: 15px 25px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-top-right: 5px;
  -moz-border-radius-bottom-right: 0;
  -moz-border-radius-bottom-left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0;
  font-size: 20px;
}
.darkWeatherHourly .weatherWrapper .current .day {
  display: block;
}
.darkWeatherHourly .weatherWrapper .current .date {
  display: block;
}
.darkWeatherHourly .weatherWrapper .content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
}
.darkWeatherHourly .weatherWrapper .content .location {
  display: block;
  font-size: 60px;
  padding: 20px;
  color: tomato;
}
.darkWeatherHourly .weatherWrapper .content .weatherData {
  padding: 15px 0;
  font-size: 60px;
  text-align: center;
}
.darkWeatherHourly .weatherWrapper .content .temperature {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 0 10px;
}
.darkWeatherHourly .weatherWrapper .content .sky {
  display: inline-block;
  vertical-align: middle;
  color: #009ad8;
  margin-left: 20px;
  padding: 0 10px;
  font-size: 60px;
}
.darkWeatherHourly .weatherWrapper .content .otherData {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 0;
  padding: 10px 0;
  font-size: 0;
}
.darkWeatherHourly .weatherWrapper .content .otherData li {
  width: 33%;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
}
.darkWeatherHourly .weatherWrapper .content .otherData li i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 60px;
  color: orange;
}
.darkWeatherHourly .weatherWrapper .content .otherData li i.wi-umbrella {
  color: green;
}
.darkWeatherHourly .weatherWrapper .content .otherData li i.direction {
  color: purple;
}
.darkWeatherHourly .weatherWrapper .tableWrapper {
  margin-top: 15px;
}
.darkWeatherHourly .weatherWrapper .table th {
  border-top: none;
}
.darkWeatherHourly .weatherWrapper .forecast {
  width: 100%;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-top-left: 0;
  -moz-border-radius-top-right: 0;
  -moz-border-radius-bottom-right: 10px;
  -moz-border-radius-bottom-left: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.darkWeatherHourly .weatherWrapper .forecast thead {
  font-size: 20px;
}
.darkWeatherHourly .weatherWrapper .forecast thead .mainHeader th {
  font-size: 30px;
  text-align: center;
  border-top: 2px solid #ddd;
}
.darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child:hover {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 0;
  -moz-border-radius-top-right: 0;
  -moz-border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child td:first-child, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child td:first-child:hover, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child:hover td:first-child, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child:hover td:first-child:hover {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 0;
  -moz-border-radius-top-right: 0;
  -moz-border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child td:last-child, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child td:last-child:hover, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child:hover td:last-child, .darkWeatherHourly .weatherWrapper .forecast tbody tr:last-child:hover td:last-child:hover {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-top-left: 0;
  -moz-border-radius-top-right: 0;
  -moz-border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
.darkWeatherHourly .weatherWrapper tr:nth-child(2n-1) {
  background-color: #323544;
}
.darkWeatherHourly .weatherWrapper tr:nth-last-child(2n) {
  background-color: #414762;
}
.darkWeatherHourly .weatherWrapper tr:nth-last-child(2n) .currentHeader {
  background-color: #252733;
}
.darkWeatherHourly .weatherWrapper tr:hover {
  background-color: #464c66;
}
.darkWeatherHourly .weatherWrapper td, .darkWeatherHourly .weatherWrapper th {
  text-align: center;
  padding: 10px;
}
.darkWeatherHourly .weatherWrapper td:first-child, .darkWeatherHourly .weatherWrapper th:first-child {
  text-align: left;
}
.darkWeatherHourly .weatherWrapper .sky {
  padding: 5px 0;
  font-size: 30px;
  color: #009ad8;
  text-align: center;
}
.darkWeatherHourly .weatherWrapper .temperature {
  color: #fff;
  line-height: 1.5;
  text-align: center;
  padding: 5px 0;
}
.darkWeatherHourly .weatherWrapper .temperature.high {
  font-size: 20px;
  font-weight: bold;
}
.darkWeatherHourly .weatherWrapper .temperature.low {
  font-size: 14px;
  padding-top: 0;
}
.darkWeatherHourly .weatherWrapper .dayOfWeek {
  font-size: 20px;
  padding: 5px 0;
}
.darkWeatherHourly .weatherWrapper .date {
  font-size: 20px;
}
.darkWeatherHourly .weatherWrapper .wind, .darkWeatherHourly .weatherWrapper .humidity {
  color: #fff;
  line-height: 1.5;
  text-align: center;
  padding: 3px 0;
}
.darkWeatherHourly .weatherWrapper .wind i.wi, .darkWeatherHourly .weatherWrapper .humidity i.wi {
  margin-right: 5px;
  vertical-align: middle;
}
.darkWeatherHourly .weatherWrapper .wind i.wi {
  color: #96d800;
  font-size: 30px;
}
.darkWeatherHourly .weatherWrapper .humidity i.wi {
  font-size: 20px;
  color: #d85400;
}

.mobileView {
  color: #323544;
}
.mobileView .day:first-child .items {
  display: block;
}
.mobileView .items {
  display: none;
}
.mobileView.horizontal .item {
  text-align: center;
  padding: 5px 10px;
}
.mobileView.horizontal .item .time {
  position: static;
  top: unset;
  right: unset;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  line-height: 3;
}
.mobileView.horizontal .item .sky {
  margin-right: 10px;
}
.mobileView.horizontal .item .temperature {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mobileView .toggle {
  display: block;
  cursor: pointer;
}
.mobileView .currentHeader {
  background-color: #2c2f3d;
  color: #bfc1c8;
  padding: 15px 10px;
  margin-top: 0;
  font-size: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.mobileView .item {
  color: #bfc1c8;
  font-size: 0;
}
.mobileView .item:nth-last-child(2n) {
  background-color: #414762;
}
.mobileView .item:nth-last-child(2n-1) {
  background-color: #5562a1;
}
.mobileView .item li {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.mobileView .item .daytime {
  font-size: 20px;
  padding: 10px 10px;
  width: 28.33%;
}
.mobileView .item .hour {
  width: 35.33%;
  padding: 25px 5px 10px;
  text-align: center;
  position: relative;
}
.mobileView .item .time {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #bfc1c8;
  font-size: 14px;
}
.mobileView .item .sky {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #009ad8;
  font-size: 30px;
}
.mobileView .item .temperature {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
  margin-right: 10px;
  margin-bottom: 5px;
}
.mobileView .item .temperature.high {
  font-size: 25px;
}

@media (max-width: 768px) {
  .darkWeatherHourly .form .field {
    width: 90%;
    margin: 0 auto;
  }
  .darkWeatherHourly .form .search {
    padding: 15px 80px 15px 15px;
  }
  .darkWeatherHourly .form .buttonPrimary {
    padding: 10px 15px;
    right: calc(5% + 15px);
    height: 40px;
    margin-top: 4px;
    line-height: 1;
  }
  .darkWeatherHourly .weatherWrapper .content .location {
    font-size: 35px;
  }
  .darkWeatherHourly .weatherWrapper .content .weatherData {
    font-size: 30px;
  }
  .darkWeatherHourly .weatherWrapper .content .otherData {
    padding: 5px 0;
  }
  .darkWeatherHourly .weatherWrapper .content .otherData li {
    font-size: 20px;
  }
  .darkWeatherHourly .weatherWrapper .content .otherData li i {
    display: block;
    font-size: 30px;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
@media (max-width: 543px) {
  .mobileView .currentHeader {
    font-size: 20px;
    padding: 10px;
  }
  .mobileView .item .daytime {
    font-size: 16px;
    padding: 5px;
  }
  .mobileView .item li {
    font-size: 16px;
  }
  .mobileView .item .hour {
    padding: 5px;
  }
  .mobileView .item .temperature {
    margin-right: 0;
    display: block;
  }
  .mobileView .item .temperature.high {
    font-size: 20px;
  }
  .mobileView .item .sky {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
