@import "components/reset";
@import "components/mixins";
@import "components/placeholders";
@import "components/variables";
@import "components/theme";
//@import "scss/emmet";
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700");

#app {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	//min-width: 550px;
	max-width: 100%;
	margin: 0 auto;
}

a.active, a:focus, a:active {
	color: orange;
}

nav {
	padding-top: 20px;
}


[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}
/*Dark theme of weather==========
=================================*/

$colorWhite: #fff;
$colorLightBlue: #009ad8;
$colorMainBg: #323544;
$colorMainBgAlt: #414762;
$colorDarkBg: #252733;
$colorSuperDarkBlue: #1e202b;
$colorMiddleBlue: #5562a1;
$colorHeader: #2c2f3d;
$colorHover: #464c66;
$colorWind: #96d800;
$colorHumidity: #d85400;
$ffRoboto: "Roboto", "Open Sans", sans-serif;
$colorFontGrey: #bfc1c8;
$colorGreyLight: #e1e1e1;
$fsBase: 14px;
$fsSmall: 10px;
$fsMiddle: 20px;
$fsNormal: 25px;
$fsLarge: 30px;
$fsHuge: 45px;
$fsGiant: 60px;

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
	.container, .container-fluid {
		margin: 0 auto !important;
		padding: 0 !important;
		width: 100% !important;
		min-width: 100%;
	}
}

@media (max-width: 480px) {

}


.darkWeatherHourly {
	font-family: $ffRoboto;
	color: $colorWhite;
	font-size: $fsBase;
	margin-bottom: 40px;
	.result {
		color: $colorDarkBg;
		background-color: orange;
		border: 2px solid $colorLightBlue;
		padding: 15px;
		@include border-radius(10px);
		margin-bottom: 15px;
	}
	.header {
		color: $colorBlue;
	}
	.form {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 10px 0;
		.search {
			//@include border-radius(30px);
			@include border-radius(10px);
			height: 60px;
			line-height: 1.5;
			font-size: $fsMiddle;
			padding: 15px 120px 15px 30px;
			background-color: $colorSuperDarkBlue;
			color: $colorWhite;
			width: 100%;
			border: none;
		}
		.buttonPrimary {
			position: absolute;
			top: 15px;
			right: 5px;
			font-size: $fsMiddle;
			line-height: 1.5;
			background-color: $colorLightBlue;
			color: $colorWhite;
			cursor: pointer;
			//@include border-radius(26px);
			@include border-radius(10px);
			border: none;
			height: 50px;
			padding: 10px 40px;
		}
	}
	.weatherWrapper {
		@include border-radius(10px);
		background-color: $colorMainBg;
		min-height: 300px;
		color: $colorFontGrey;
		//display: flex;
		.current {
			//min-width: 420px;
			//width: 40%;
			.currentHeader {
				background-color: $colorHeader;
				color: $colorFontGrey;
				padding: 15px 10px;
				@include border-radius-separate(10px, 10px, 0, 0);
				margin-top: 0;
				//margin-bottom: 20px;
				font-size: $fsMiddle;
			}
			.day {
				display: block;
			}
			.date {
				display: block;
			}
			
		}
		.content {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			padding-top: 10px;
			.location {
				display: block;
				font-size: $fsGiant;
				padding: 20px;
			}
			.weatherData {
				padding: 15px 0;
				font-size: $fsGiant;
				text-align: center;
			}
			.temperature {
				display: inline-block;
				vertical-align: middle;
				color: $colorWhite;
				padding: 0 10px;
			}
			.sky {
				display: inline-block;
				vertical-align: middle;
				color: $colorLightBlue;
				margin-left: 20px;
				padding: 0 10px;
				font-size: $fsGiant;
			}
			.otherData {
				background: rgba(0, 0, 0, 0.5);
				display: flex;
				margin: 0;
				padding: 10px 0;
				font-size: 0;
				li {
					width: 33%;
					padding: 5px 10px;
					text-align: center;
					font-size: $fsLarge;
					i {
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
						font-size: $fsGiant;
						color: orange;
						&.wi-umbrella {
							color: green;
						}
						&.direction {
							color: purple;
						}
					}
				}
			}
		}
		.tableWrapper {
			margin-top: 15px;
		}
		.forecast {
			@include border-radius-separate(0, 0, 10px, 10px);

			thead {
				font-size: $fsMiddle;
				tr {
					border: 1px solid #ddd;
				}
				.mainHeader th {
					font-size: $fsLarge;
					text-align: center;
					border-top: 2px solid #ddd;
				}
			}
			tbody {
				tr {
					&:last-child {
						@include border-radius-separate(0, 0, 10px, 10px);
						td {
							&:first-child {
								@include border-radius-separate(0, 0, 0, 10px);
							}
							&:last-child {
								@include border-radius-separate(0, 0, 10px, 0);
							}
						}
					}

				}
			}
		}
		tr {
			&:nth-child(2n-1) {
				background-color: $colorMainBg;
			}
			&:nth-last-child(2n) {
				background-color: $colorMainBgAlt;
				.currentHeader {
					background-color: $colorDarkBg;
				}
			}
			&:hover {
				background-color: $colorHover;
			}
		}
		td, th {
			text-align: center;
		}
		td:first-child, th:first-child {
			text-align: left;
		}
		.sky {
			padding: 5px 0;
			font-size: $fsLarge;
			color: $colorLightBlue;
			text-align: center;
		}
		.temperature {
			color: $colorWhite;
			line-height: 1.5;
			text-align: center;
			padding: 5px 0;

			&.high {
				font-size: $fsMiddle;
				font-weight: bold;
			}
			&.low {
				font-size: $fsBase;
				padding-top: 0;
			}
		}
		.dayOfWeek {
			font-size: $fsMiddle;
			padding: 5px 0;
		}
		.date {
			font-size: $fsMiddle;
		}
		.wind, .humidity {
			color: $colorWhite;
			line-height: 1.5;
			text-align: center;
			padding: 3px 0;

			i.wi {
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		.wind {
			i.wi {
				color: $colorWind;
				font-size: $fsLarge;
			}

		}
		.humidity {
			i.wi {
				font-size: $fsMiddle;
				color: $colorHumidity;
			}
		}
	}
}

.dbOperations {
	text-align: right;
	padding: 15px 0;
	.btn + .btn {
		margin-left: 10px;
	}
}

.mobileView {
	color: $colorBlue;
	.currentHeader {
		background-color: $colorHeader;
		color: $colorFontGrey;
		padding: 15px 10px;
		//@include border-radius-separate(10px, 10px, 0, 0);
		margin-top: 0;
		font-size: $fsNormal;
		border-bottom: 2px solid $colorGreyLight;
	}
	.item {
		color: $colorFontGrey;
		font-size: 0;
		&:nth-last-child(2n) {
			background-color: $colorMainBgAlt;
		}
		&:nth-last-child(2n-1 ) {
			background-color: $colorMiddleBlue;
		}

		
		li {
			font-size: $fsMiddle;
			display: inline-block;
			vertical-align: middle;
		}
		.daytime {
			font-size: $fsMiddle;
			padding: 10px 10px;
			width: 28.33%;
		}
		.hour {
			width: 35.33%;
			padding: 25px 5px 10px;
			text-align : center;
			position: relative;
		}
		.time{
			position: absolute;
			top: 2px;
			right: 5px;
			color: orange;
			font-size: $fsBase;
		}
		.sky {
			display: inline-block;
			vertical-align: middle;
			padding: 5px 0;
			margin-right: 10px;
			margin-bottom: 5px;
			color: $colorLightBlue;
			font-size: $fsLarge;
		}
		.temperature {
			display: inline-block;
			vertical-align: middle;
			padding: 5px 0;
			margin-right: 10px;
			margin-bottom: 5px;
			&.high {
				font-size: $fsNormal;
			}
		}
	}
}

@media (max-width: 768px) {
	.darkWeatherHourly {
		.weatherWrapper {
			.content {
				.otherData {
					padding: 5px 0;
					li {
						font-size: $fsMiddle;
						i {
							display: block;
							font-size: $fsLarge;
							margin-right: 0;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 543px) {
	.dbOperations {
		.btn + .btn {
			margin-top: 0px;
		}
	}
	.mobileView {
		.currentHeader {
			font-size: $fsMiddle;
			padding: 10px;
		}
		.item {
			.daytime {
				font-size: 16px;
				padding: 5px;
			}
			li {
				font-size: 16px;
			}
			.hour {
				
				padding: 5px;
			}
			.temperature {
				&.high {
					font-size: $fsMiddle;
				}
				margin-right: 0;
				display: block;
			}
			.sky {
				margin-right: 0;
			}
		}
	}
}
