/* placeholders for changeable elements
=====================================*/


$colorWhite: #fff;		//white
$colorBlack: #000;		//black

%fontColorWhite {
  color: $colorWhite;
}

%fontColorBlack {
  color: $colorBlack;
}

///////Transitions //////////

%transitionAll {
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

%transitionOpacity1 {
  -moz-transition: opacity ease-in-out 2s;
  -o-transition: opacity ease-in-out 2s;
  -webkit-transition: opacity ease-in-out 2s;
  transition: opacity ease-in-out 2s;
}

%transitionOpacity2 {
  -moz-transition: opacity ease-in-out 0.6s;
  -o-transition: opacity ease-in-out 0.6s;
  -webkit-transition: opacity ease-in-out 0.6s;
  transition: opacity ease-in-out 0.6s;
}
%transitionOpacity3 {
  -moz-transition: opacity ease-in-out 4s;
  -o-transition: opacity ease-in-out 4s;
  -webkit-transition: opacity ease-in-out 4s;
  transition: opacity ease-in-out 4s;
}

/* placeholders for repeated elements
=====================================*/

.noMargin {
  margin: 0;
}
.noPadding {
  padding: 0;
}

%fontStrong {
  /* font weight for any text */
  font-weight: bold;
}

%fontNormal {
  /* font weight for any text */
  font-weight: normal;
}

%textTransformUpper {
  /* text transform for any text*/
  text-transform: uppercase;
}

%textTransformLower {
  /* text transform for any text*/
  text-transform: lowercase;
}

%overflowScroll {
  /* overflow scroll for any box */
  overflow: scroll;
}
%overflowScrollY {
  /* overflow scroll for any box */
  overflow-y: scroll;
}
%overflowScrollX {
  /* overflow scroll for any box */
  overflow-x: scroll;
}

%overflowHidden {
  /* overflow hidden for any box */
  overflow: hidden;
}

%textDecorNone {
  /* text decoration for any text */
  text-decoration: none;
}

%textDecorUnderline {
  /* text decoration for any text */
  text-decoration: underline;
}

%textAlignLeft {
  /* text decoration for any text */
  text-align: left;
}

%textAlignRight {
  /* text decoration for any text */
  text-align: right;
}

%listStyleNone {
  /* list style for any list */
  list-style: none;
}

%floatLeft {
  /* float for any block */
  float: left;
}

%floatRight {
  /* float for any block */
  float: right;
}

%borderStyleSolid {
  /* border style for any element */
  border-style: solid;
}

%borderNone {
  /* border for any element */
  border: none;
}

%borderInset {
  /* border for any element */
  border: inset;
}

%borderOutset {
  /* border for any element */
  border: outset;
}

%borderSolid {
  /* border for any element */
  border: solid;
}

%borderDashed {
  /* border for any element */
  border: dashed;
}

%borderDotted {
  /* border for any element */
  border: dotted;
}

%positionAbsolute {
  /* position for any element */
  position: absolute;
}

%positionRelative {
  /* position for any element */
  position: relative;
}

%positionCenter {
  /* position center for any element*/
  margin: 0 auto;
}

%boxSizingBorderBox {
  /* box sizing for all element in pages */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%bgPosNoRepeat {
  background-position: center center;
  background-repeat: no-repeat no-repeat;
}

%bgColorTransparent {
  /* background color transparent*/
  background-color: transparent;
}

%bgImageNone {
  /* background image none*/
  background-image:  none;
}

%bgNone {
  /* background image none*/
  background:  none;
}

%bgColorNone {
  /* background image none*/
  background-color: none;
}

%cursorPointer {
  cursor: pointer;
}

%displayInlineBlock {
  /*display style for any element*/
  display: inline-block;
}

%displayBlock {
  /*display style for any element*/
  display: block;
}

%displayNone {
  /*display style for any element*/
  display: none;
}

%verticalAlignTop {
  /* vertical align for any element*/
  vertical-align: top;
}
%verticalAlignMiddle {
  /* vertical align for any element*/
  vertical-align: middle;
}
%verticalAlignSub {
  /* vertical align for any element*/
  vertical-align: sub;
}
%verticalAlignTop {
  /* vertical align for any element*/
  vertical-align: top;
}
%vertAlignTextTop {
  /* vertical align for any element*/
  vertical-align: text-top;
}
%vertAlignBaseline {
  /* vertical align for any element*/
  vertical-align: baseline;
}

%textAlignCenter {
  /* text align for any element*/
  text-align: center;
}
%textAlignLeft {
  /* text align for any element*/
  text-align: left;
}
%textAlignRight {
  /* text align for any element*/
  text-align: right
}

%visibilityHidden {
  visibility: hidden;
}

%visibilityVisible {
  visibility: visible;
}

%outlineNone {
  /* outline for any element*/
  outline: none;
}
