
.bgColorLightBLue {
  background-color: $colorMomondoLightBlue;
}

.fontSize10 {
  font-size: $fontSize10;
}

.fontSize5 {
  font-size: $fontSize5;
}

.fontSize24 {
  font-size: $fontSize24;
}

.fontSize48 {
  font-size: $fontSize48;
}

.colorWhiteLight {
  color: $colorWhiteLight;
}

.colorWhiteMiddle {
  color: $colorWhiteMiddle;
}

.colorWhiteDark {
  color: $colorWhiteDark;
}

.fontFamilyLato {
  font-family: $fontFamilyLato;
}

.transform1 {
  -moz-transform: matrix( 0.96611764284178,0,0,0.92420981778265,0,0);
  -webkit-transform: matrix( 0.96611764284178,0,0,0.92420981778265,0,0);
  -ms-transform: matrix( 0.96611764284178,0,0,0.92420981778265,0,0);
  transform: matrix( 0.96611764284178,0,0,0.92420981778265,0,0);
}

.transform2 {
  -moz-transform: matrix( 0.92619542619543,0,0,0.92664463802944,0,0);
  -webkit-transform: matrix( 0.92619542619543,0,0,0.92664463802944,0,0);
  -ms-transform: matrix( 0.92619542619543,0,0,0.92664463802944,0,0);
  transform: matrix( 0.92619542619543,0,0,0.92664463802944,0,0);
}

.transform3 {
  -moz-transform: matrix(0.30715664644236, 0, 0, 0.29346931216767, 0, 0);
  -webkit-transform: matrix(0.30715664644236, 0, 0, 0.29346931216767, 0, 0);
  -ms-transform: matrix(0.30715664644236, 0, 0, 0.29346931216767, 0, 0);
  transform: matrix(0.30715664644236, 0, 0, 0.29346931216767, 0, 0);
}

